.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px 20px;
  background-color: antiquewhite;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.logo {
  font-size: 22px;
}
.container a {
  text-decoration: none;
  color: #2b2b2b;
}

.container .link:hover {
  color: #2b2bb2;
  transition: 0.3s;
}

.container .avatar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 15px;
  flex-direction: row;
  align-content: flex-end;
  height: 100%;
}
