@use "variable.scss";
@use "function.scss";

@mixin article-prova($font-size: 24) {
  border-color: variable.$color_terzary;
  border-right: 1px solid variable.$color_terzary;
  font-size: function.pxToRem($font-size);
}
.container {
  display: flex;
  flex-direction: column;
  border: 1px solid variable.$color_primary;
  row-gap: 15px;
  h1 {
    color: variable.$color_terzary;
    align-self: center;
    text-decoration: underline;
    text-decoration-color: variable.$color_secondary;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-self: center;
    row-gap: 15px;
    border: 1px solid variable.$color_terzary;
    width: 90%;

    .not-last {
      @include article-prova(16);
    }
    .red {
      color: variable.$color_primary;
      text-align: center;
    }
    .blue {
      color: variable.$color_secondary;
      text-align: center;
    }
  }
  .footer {
    align-self: center;
    border: 1px solid variable.$color_secondary;
    width: 90%;
    article {
      @include article-prova();
      border-right: none;
      p {
        text-align: center;
        color: variable.$color_terzary;
      }
    }
  }
}
