.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
#yellow ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#red ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
